*{
  padding: 0;
    margin: 0;  
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    font-style: normal;
    margin-top: 20px;
}
section.conteiner{
    margin: auto;
}
:root{
    --cor0blu: #0000ffd2; /*variáveis para as CSS*/
    --cor1bla: #000000b9;
}
form p {
    text-align: justify;
    margin-bottom: 0;
}
form {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin: auto;
    max-width: 500px;
}
.embrulho {
  display: flex; 
  justify-content: center; 
  align-items: center;
}
div.embrulho div {
  height: 2px;
  width: 40vw;
  background-color: var(--cor1bla);
}
.embrulho span {
  padding:0 15px; 
}
label.links {
    display: block;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.1em;
}
label.links a:hover {
    text-decoration: underline;
}
  
label#google{
    border: 2px solid var(--cor1bla);
}
label#google a{
    color: var(--cor1bla);
}
label#face{
    border: 2px solid var(--cor0blu); 
}
label#face a{
    color: var(--cor0blu);
}
label#apple{
    border: 2px solid #000000
}
label#apple a{
    color: #000000;
}
label.ense {
    display: block;
    width: 100%;
    padding: 10px 0px;
    font-size: 1.1em;
    color: var(--cor1bla);
}
input.inpute {
    display: block;
    margin: auto;
    width: 100%;
    text-indent: 10px;
    border-radius: 5px;
    padding: 7px 0px;
    font-size: 1.1em;
    border: 2px solid var(--cor1bla);
    outline: none;
}
input:hover{
    border: 2px solid var(--cor0blu);
}
button {
    color: white;
    background-color: var(--cor0blu);
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.1em;
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}
form a {
    text-decoration: none;
}
